body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  
}
section {
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto; }

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .titleContainer {
  font-family: 'Poppins', sans-serif;
  position: relative;
  --maskX: 0;
  --maskY: 50; }
  .titleContainer h1 {
    font-size: 90px;
    margin: 0;
    line-height: 1.1em; }

.titleWrapper {
  color: #e26d25;
  cursor: pointer; }

.cloneWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #2e1908;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: polygon(0 0, calc(var(--maskX) * 1% + (var(--maskY) - 50) * .4%) 0, calc(var(--maskX) * 1% + (var(--maskY) - 50) * -.4%) 100%, 0 100%); } */

/* #endregion */